
body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top right, #e9edc9, #cdb4db);
  font-size: 12px;
}

.center{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 88vh;
  max-width: 800px;
  display: flex;
}


.content{
    text-align: center;
}


/* left */
.left{
  flex: 0 0 150px;
  width: 200px;
  height: 100%;
  background-color: white;
  color: #848697;
  border-radius: 3px 0 0 3px;
  /* position: fixed; */
  
}


.navigation{
  position: relative;
  display: block;
  margin-top: 80%;
  margin-bottom: 10px;
}

.logo{
  position: relative;
  top: 10px;
  height: 100px;
}


li{
  padding: 0px 25px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link{
  color:#89877b;
  /* text-shadow: 1px 1px 3px #728359; */
  font-family: 'Readex Pro', sans-serif;
  font-size: 100%;
}

.buying-power{
  margin-top: 10%;
  font-size: 70%;
  text-align:center;
}
/* right */
.right{
  flex: 1 1 auto;
  background-color: #f6f6fc;
  padding: 30px;
  border-radius: 0 3px 3px 0;
  overflow-x: hidden;
  overflow-y: auto;

}

.message-color{
  color:blueviolet;
}

.market-flat{
  overflow:auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.apart{
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.stock{
    /* position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 5px 0;
    margin: 8px 0; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    float: left;
    width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 5px;
}

/* .stock-logo{
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;
  margin-right: 10px;
} */


.stock-name{
  color: darkblue;
}




.stock-value{
  flex: 1;
  font-weight: bold;
  color: gray;
}


.btn {
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  background-color: #cdb4db;
  float:right;
}

.market{
  margin-top: 5%;
  margin-bottom: 5%; 
  float:left;
  /* float:left;
  margin-left: 0%; */
}













.welcome{
    color: #CCD5AE;
    font-family: 'Corinthia', cursive;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: -10px; 
}
.welcome-title{
    color: #728359;
    text-shadow: 2px 2px 5px #647746;
    font-size: 150px;
    font-family: 'Lobster', cursive;
}
.dashboard{
    color: #dee2ff;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
    /* text-shadow: 2px 2px 4px #728359; */
}

.quote{
    color: #CCD5AE;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
}
.dashboard-l{
    color: #dee2ff;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
    /* text-shadow: 2px 2px 4px #728359; */
}

.btn{
    color: #647746;
}
/* center */
.center {
    margin: 0;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.bottom {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 30%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
}
.bottom2 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 70%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
}









